/documents/.fuse_hidden000147cf00000004
/programa/bin/symph5mvt1.mid
/programa/bin/GUFSV144.sf2
*~
/programa/pro/*
/programa/bin/mlearn
/programa/bin/trio.flac
*.log
*.toc
*.aux
*!sync
*.swp
documents/test.pdf
