/programa/bin/core/.accidental test.mscz,
/documents/data/.Menuet bass.mscz,
/documents/data/.Menuet.mscz,
*.bbl
*.blg
*.dvi
*.out
/programa/bin/core/core
/programa/bin/complete/complete
/programa/bin/core/Debug/*
/programa/bin/core/Release/*
/programa/bin/complete/Release/*
/programa/bin/complete/Debug/*
/documents/output/test.pdf
/programa/bin/symph5mvt1.mid
/programa/bin/GUFSV144.sf2
/programa/bin/demos
*~
/programa/pro/*
/programa/bin/mlearn
/programa/bin/trio.flac
*.log
*.toc
*.aux
*!sync
*.swp
*.fuse*
documents/test.pdf
documents/output/main.pdf
programa/bin/demos
*.synctex.gz
main.pdf
*.tps
programa/bin/Debug/*
*.dll
*.exe
*.ilk
*.pdb
programa/bin/demos
