/programa/bin/core/.accidental test.mscz,
/documents/data/.Menuet bass.mscz,
/documents/data/.Menuet.mscz,
/documents/test.bbl
/documents/test.blg
/documents/test.dvi
/documents/test.out
/programa/bin/core/core
/programa/bin/complete/complete
/programa/bin/core/Debug/*
/programa/bin/core/Release/*
/programa/bin/complete/Release/*
/programa/bin/complete/Debug/*
/documents/test.pdf
/documents/.fuse_hidden000147cf00000004
/programa/bin/symph5mvt1.mid
/programa/bin/GUFSV144.sf2
*~
/programa/pro/*
/programa/bin/mlearn
/programa/bin/trio.flac
*.log
*.toc
*.aux
*!sync
*.swp
documents/test.pdf
